<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a computational biochemist with a strong interest in plastic biorecycling, enzyme engineering, and intrinsic electric fields driving catalysis. I am currently a Research Associate in the Department of Biochemistry under the supervision of <a href="https://www.thelemkullab.com/" class="highlighted">Prof. Justin A. Lemkul, Ph.D.</a>  </font></p>


             <br/>
        </div>
<!--     <div align="center" class="row">
        <a class="twitter-timeline" data-width="400" data-height="350" href="https://twitter.com/pablitoarantes?ref_src=twsrc%5Etfw">Tweets by pablitoarantes</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> -->
    </div>
</section>
