<section id="experiences">
    <!-- Page Content -->
    {% assign category_displayed = false %}
    {% for post in site.posts reversed %}
        {% if post.category contains 'Experiences' %}
            {% if category_displayed == false %}
                <div class="container">
                    <div class="row">
                        <h2 class="category-heading alt-font">{{ post.category }}</h2>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% assign category_displayed = true %}
            {% endif %}

            <div class="content-section" style="margin-bottom: 20px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="section-heading">{{ post.title }}</h2>
                            <div class="lead">{{ post.content }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-section -->
        {% endif %}
    {% endfor %}
</section>
