<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5L52Y3H2ZD"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-5L52Y3H2ZD');
</script>


<!--Structured Data for Google -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "url": "http://mdpoleto.github.io/",
      "image": "https://raw.githubusercontent.com/mdpoleto/mdpoleto.github.io/master/img/profile.jpg",
      "additionalName": "",
      "description":"Computational Biochemist",
      "name": "Marcelo D. Polêto, Ph.D."
      ,
      "sameAs" : [
        "https://www.linkedin.com/in/marcelodpoleto/",
        "https://scholar.google.com/citations?user=sDHrqK4AAAAJ&hl",
        "https://github.com/mdpoleto",
        "https://twitter.com/mdpoleto"
      ]
    }
</script>
