<section id="projects">
    <!-- Page Content -->
    {% assign category_displayed = false %}
    {% for post in site.posts reversed %}
        {% if post.category contains 'Projects' %}
            {% if category_displayed == false %}
                <div class="container">
                    <div class="row">
                        <h2 class="category-heading alt-font">{{ post.category }}</h2>
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% assign category_displayed = true %}
            {% endif %}

            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="{% if thecycle == 'odd' %}content-section-a{% else %}content-section-b{% endif %}">
                <div class="container">
                    <div class="row">
                        {% if thecycle == 'odd' %}
                            <div class="col-lg-7 col-sm-6">
                                <h2 class="section-heading">{{ post.title }}</h2>
                                <div class="lead">{{ post.content }}</div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <img class="img-responsive center-block" src="img/pro/{{ post.img }}" alt="">
                            </div>
                        {% else %}
                            <div class="col-lg-7 col-lg-offset-1 col-sm-push-6 col-sm-6">
                                <h2 class="section-heading">{{ post.title }}</h2>
                                <div class="lead">{{ post.content }}</div>
                            </div>
                            <div class="col-lg-4 col-sm-pull-6 col-sm-6">
                                <img class="img-responsive center-block" src="img/pro/{{ post.img }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-section -->
        {% endif %}
    {% endfor %}
</section>
