<section id="publications">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <h2 class="category-heading alt-font">Publications</h2> <!-- Displays Publications category once -->
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
        </div>

        <div class="content-section-a">
        <!-- Featured Publications -->
            <div class="row">
                <div class="col-lg-10">
                    <h3 class="section-heading" style="font-weight: bold;">Featured Publications</h3>
                </div>
            </div>

            {% for post in site.posts reversed %}
                {% if post.category contains 'Featured Publications' %}

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-sm-6">
                                <div class="lead">{{ post.content }}</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->

                <!-- /.content-section-a -->
                {% endif %}
            {% endfor %}

            <!-- Link to Full List of Publications -->
            <br> <!-- blank line to look better -->
            <div class="row">
                <div class="col-lg-10">
                    <p class="lead">
                        A full and updated list of publications can be found <a href="https://scholar.google.com/citations?user=PtrGDD8AAAAJ&hl=en" target="_blank">here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
