<section id="publications">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <h2 class="category-heading alt-font">Publications</h2> <!-- Displays Publications category once -->
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
        </div>

        <!-- Featured Publications -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading" style="font-weight: bold;">Featured Publications</h3>
            </div>
        </div>

        {% for post in site.posts reversed %}
            {% if post.category contains 'Featured Publications' %}
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <h4 class="section-heading">{{ post.title }}</h4>
                            <div class="lead">{{ post.content }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-section-a -->
            {% endif %}
        {% endfor %}

        <!-- Link to Full List of Publications -->
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">
                    A full and updated list of publications can be found <a href="https://scholar.google.com/citations?user=PtrGDD8AAAAJ&hl=en" target="_blank">here</a>.
                </p>
            </div>
        </div>
    </div>
</section>
